<!DOCTYPE html>
<html>
    <head>
        <title>{{page.title}}</title>


        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css">
        
        <link rel="stylesheet" href="/style.css">




    </head>
    <body>

        <header>
            This is a header of the {{page.title}}
            Put a color in here: {{page.color}}
        </header>

        {{content}}


       

        <footer>
            This is a footer
        </footer>


    </body>
</html>